@use '../../scss/config/' as *;

.footer {
  background-color: $primary-color;
  padding: 4.8rem 0 9.6rem;

  // MEDIA QUERIES
  @include screen('laptop') {
    padding: 9.6rem 0 9.6rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;

    // MEDIA QUERIES
    @include screen('laptop') {
      grid-template-columns: 1fr 1fr;
    }
    @include screen('lg laptop') {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  h3 {
    color: #14171b;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.2rem;

    // MEDIA QUERIES
    @include screen('lg laptop') {
      font-size: 1.6rem;
    }
  }

  p {
    color: $white-color;
    font-size: 1.8rem;
    margin-bottom: 0.85rem;

    // MEDIA QUERIES
    @include screen('lg laptop') {
      font-size: 2rem;
    }

    &:last-child {
      margin-bottom: 3.2rem;
    }
  }

  a {
    display: block;
    color: $white-color;
    font-size: 1.8rem;
    margin-bottom: 0.85rem;
    text-decoration: none;

    // MEDIA QUERIES
    @include screen('lg laptop') {
      font-size: 2rem;
    }
  }

  .cta {
    width: 100%;
    grid-column: 1 / -1;

    // MEDIA QUERIES
    @include screen('lg laptop') {
      grid-column: 3 / -1;
    }

    .line {
      height: 0.1rem;
      width: 50%;
      background-color: #14171b;
      display: none;

      // MEDIA QUERIES
      @include screen('lg laptop') {
        display: block;
      }
    }

    a {
      margin-top: 4.8rem;
      background-color: $white-color;
      padding: 1.6rem 3.2rem;
      color: $black-color;
      text-align: center;
      margin-bottom: 0;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 600;
      font-family: $heading-font;
      letter-spacing: 0.4rem;
      display: block;
      margin-bottom: 2.4rem;
      border: 1px solid transparent;
      @include transitionAll(0.3s);

      &:hover {
        background-color: $black-color;
        color: $white-color;
        border: 1px solid $white-color;
      }
    }

    .copy {
      font-size: 1.2rem;
      text-align: center;

      // MEDIA QUERIES
      @include screen('laptop') {
        font-size: 1.4rem;
      }
    }
  }
}
