@use '../../scss/config/' as *;

.hamburger-menu {
  height: 4rem;
  width: 4rem;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  // MEDIA QUERIES
  @include screen('laptop') {
    display: none;
  }

  %bar-shared {
    background: $white-color;
    border-radius: 10rem;
    height: 0.2rem;
    @include transitionAll(0.5s);
  }

  .bar {
    @extend %bar-shared;
    position: relative;
    width: 2.4rem;
  }

  .bar::before {
    @extend %bar-shared;
    content: '';
    position: absolute;
    top: -0.8rem;
    right: 0;
    width: 3.2rem;
  }

  .bar::after {
    @extend %bar-shared;
    content: '';
    position: absolute;
    bottom: -0.8rem;
    right: 0;
    width: 3.2rem;
  }

  &.open .bar {
    background: transparent;
  }

  &.open .bar::before {
    top: 0;
    transform: rotate(135deg);
  }

  &.open .bar::after {
    bottom: 0;
    transform: rotate(225deg);
  }
}
