@use '../../scss/config/' as *;

.header {
  position: relative;
  height: 7rem;
  background-color: $home-bg-color;
  z-index: 1000;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90vw;
    margin: 0 auto;

    // MEDIA QUERIES
    @include breakpoint(lg) {
      justify-content: unset;
      gap: 8rem;
    }
  }
}
