@use '../../scss/config/' as *;

.header {
  position: relative;
  height: 7rem;
  background-color: $home-bg-color;
  z-index: 1000;

  // MEDIA QUERIES
  @include screen('laptop') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: 10rem;
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90vw;
    margin: 0 auto;

    // MEDIA QUERIES
    @include screen('laptop') {
      gap: 8rem;
      max-width: 80vw;
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    height: 7rem;
    width: 100%;
    background-color: $header-bg-color;
    animation: fadeInDown 0.5s ease-in-out;
  }
}

@keyframes fadeInDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
