.pre-animate {
  transform: translate3d(0, 15rem, 0);
  opacity: 0;
  visibility: hidden;
}

.fade-up {
  animation-name: fadeUp;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeUp {
  from {
    transform: translate3d(0, 15rem, 0);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}
