@use '../../scss/config/' as *;

.contact {
  .main-title {
    text-align: center;
  }

  &__email {
    display: block;
    text-align: center;
    font-size: 3.6rem;
    font-family: $heading-font;
    color: $white-color;
    text-decoration: none;
    margin: 2.4rem 0 6.4rem;
    font-weight: 500;

    &:hover {
      text-decoration: solid underline $white-color 3px;
    }

    // MEDIA QUERIES
    @include screen('tablet') {
      font-size: 7.4rem;
    }
    @include screen('laptop') {
      font-size: 9.8rem;
      margin: 6.4rem 0 9.6rem;
    }
  }
}
