////////////////////////////////////////////////////////////////////////////////
// CONSTANTS //

// Colors
$primary-color: #d9083c;

$body-bg-color: #14171b;

$header-bg-color: #0b0b0c;

$home-bg-color: #121417;

$text-color: #6c737d;
$link-color: #898f97;

$white-color: #fff;
$black-color: #000;

// Fonts
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Montserrat', sans-serif;
